<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeDrug</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    
    <nav>
        <h1 id="brand">
            MeDrug
        </h1>
        <ul>
            <li>
                HOME
            </li>
            <li>
                UPLOAD MEDICINES
            </li>
        </ul>
    </nav>
    <div id="templates">
        {% block body_block %}
        {# Anything outside of this will be inherited if you use extend.#}
        {% endblock %}
    </div>

</body>
</html>