@import url("https://fonts.googleapis.com/css?family=Comfortaa:700|Muli|Quicksand&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg: #012643;
    --bgnav: rgba(18, 55, 84, 0.76);
    --white: rgba(255, 255, 255, 0.6);
    --green: rgba(33, 192, 16, 0.69);
    --blue: #0090ff;
    --red: #b93e3e;
    font-family: "Quicksand", sans-serif;
    --comforta: "Comfortaa", cursive;
    --poppins: "Muli", sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: var(--bg);
    display: flex;
    width: 100%;
    height: 100%;
}

/* NAVBAR */
nav {
    background-color: var(--bgnav);
    flex: 1;
}

nav #brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

nav #brand img {
    width: 8%;
    margin-right: 1rem;
    opacity: 0.6;
}

nav #brand h1 {
    font-size: 3.5rem;
    color: var(--white);
    font-family: var(--poppins);
}

nav #brand i {
    display: none;
}

nav #links {
    height: 85%;
    /* background-color: black;
    color: white; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 20%;
}

nav #links #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav #links #main h1 {
    font-family: var(--comforta);
    color: var(--green);
    font-size: 3rem;
    margin-bottom: 3%;
}

nav #links #main #mainLinks {
    list-style: none;
    line-height: 2;
    padding-left: 10%;
}

nav #links #main #mainLinks li i,
nav #links #api #apiLinks li i {
    color: var(--blue);
    transition: all 0.7s;
}

nav #links #main #mainLinks li a {
    text-decoration: none;
    color: var(--blue);
    font-size: 1.5rem;
    transition: all 0.5s;
}

nav #links #main #mainLinks li:hover i,
nav #links #api #apiLinks li:hover i  {
    text-shadow: 
        2px 2px 15px rgba(0, 0, 0, 0.7),
        -1px -1px 13px var(--blue);
}

nav #links #main #mainLinks li:hover a,
nav #links #api #apiLinks li:hover a {
    padding-left: 1rem;
}

nav #links #api {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav #links #api h1 {
    color: var(--red);
    font-size: 2rem;
    margin-bottom: 3%;
    padding-left: 5%;
    font-family: var(--comforta);
}

nav #links #api #apiLinks {
    list-style: none;
    line-height: 2;
    padding-left: 10%;
}

nav #links #api #apiLinks li a {
    text-decoration: none;
    color: var(--blue);
    font-size: 1.5rem;
    transition: all 0.5s;
}

/* BREAK */
#break {
    width: 1px;
    background-color: var(--white);
    height: 50%;
    align-self: center;
}

/* TEMPLATES */
#templates {
    position: relative;
    flex: 1;
}

#templates #bg {
    background: url("../desingbg.png") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(0.2rem);
    /* background-color: rgba(0, 0, 0, 0.5); */
}

#templates #page {
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#templates #page h1 {
    font-size: 2.5rem;
    color: var(--green);
    margin-bottom: 2rem;
    text-align: center;
    display: inline-block;
    font-family: var(--comforta);
}

#templates #page #messages {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

#templates #page #messages p {
    margin: 1rem 0;
}

#templates #page #messages p::after {
    content: "!";
}

#templates #page h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    margin: 0.5rem 0;
    font-family: var(--comforta);
}

#templates #page .order {
    /* width: 70%; */
}

#templates #page .order .details {
    width: fit-content;
    color: var(--green);
    font-size: 1.5rem;
    /* padding-left: 5%; */
    margin-bottom: 2rem;
    display: flex;
}

#templates #page .order .details p {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: content-box;
}

#templates #page form {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#templates #page form button[type="submit"] {
    color: var(--green);
    border: 0.1rem solid var(--green);
    background: none;
    padding: 0.8rem;
    font-size: 1.5rem;
    cursor: pointer !important;
    width: 50%;
    display: none;
    transition: all 0.7s;
}

#templates #page form button[type="submit"]:hover {
    box-shadow: 
        8px 8px 15px rgba(0, 0, 0, 0.7),
        -1px -1px 10px var(--green);
}

.showUpload {
    display: block !important;
}

#templates #page form .file {
    color: var(--red);
    font-size: 1.2rem;
    display: none;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    text-align: center;
}

#templates #page form input {
    visibility: hidden;
    width: 0;
    height: 0;
}

#templates #page form .btn {
    width: 50%;
    text-align: center;
    border: 0.1rem solid var(--blue);
    color: var(--blue);
    padding: 0.8rem;
    font-size: 1.5rem;
    cursor: pointer !important;
    margin: 0 auto;
    transition: all 0.7s;
}

#templates #page form .btn:hover {
    box-shadow: 
        8px 8px 15px rgba(0, 0, 0, 0.7),
        -1px -1px 10px var(--blue);
}

#templates .home {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#templates .home .btn {
    text-align: center;
    border: 0.1rem solid var(--red);
    color: var(--red);
    padding: 0.8rem;
    font-size: 1.5rem;
    cursor: pointer !important;
    transition: all 0.7s;
    text-decoration: none;
}

#templates .home .btn:hover {
    box-shadow: 
    8px 8px 15px rgba(0, 0, 0, 0.7),
    -1px -1px 10px var(--red);
}


@media (max-width: 1000px) {
    nav #brand {
        height: 10%;
    }

    nav #links {
        height: 90%;
        padding-left: 10%;
        /* align-items: center; */
    }

    nav #links #main {
        align-items: center;
    }

    nav #links #main h1 {
        align-self: flex-start;
        margin-bottom: 0;
        font-size: 2.6rem;
    }

    nav #links #main #mainLinks {
        color: var(--blue);
        line-height: 1.5;
        padding: 0;
        width: 90%;
    }

    nav #links #main #mainLinks li a {
        font-size: 1.3rem;
    }

    nav #links #api {
        align-items: center;
    }

    nav #links #api h1 {
        align-self: flex-start;
        padding-left: 0;
        font-size: 1.8rem;
    }

    nav #links #api #apiLinks {
        line-height: 1.5;
        padding-left: 0;
        width: 90%;
        color: var(--blue);
    }

    nav #links #api #apiLinks li a {
        font-size: 1.3rem;
    }

    body {
        flex-direction: column-reverse;
    }

    .hide {
        display: none !important;
        /* opacity: 0; */
    }

    nav .collapsed {
        height: 100% !important;
        padding: 1%;
    }

    nav #brand i {
        font-size: 2.5rem;
        color: var(--white);
        display: inline-block;
        position: absolute;
        right: 5%;
        bottom: 2.5%;
        cursor: pointer;
    }

    #templates {
        height: 100vh;
    }

    #templates #page h1 {
        font-size: 2rem;
    }

    #templates #page #messages {
        font-size: 1.4rem;
    }

    #templates #page h2 {
        font-size: 1.5rem;
        width: 90%;
        text-align: center;
        /* width: auto; */
    }

    #templates #page .order,
    #templates #page .order h2 {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #templates #page .order .details p {
        font-size: 1.3rem;
    }

    #templates #page form {
        height: 30%;
    }

    #templates #page form .btn {
        width: 80%;
    }

    #templates #page form button[type="submit"] {
        width: 80%;
    }
}

@media(max-width: 700px) {

    nav #brand h1 {
        font-size: 3rem;
    }
    
    nav #brand img {
        width: 12%;
    }

    nav #brand i {
        bottom: 1.75%;
    }
}