@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary: #00579B;
    --secondary: #9BC9FF;
    --green: #20D637;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 88.3vh;
    background: linear-gradient(to bottom right, var(--primary), var(--secondary)) no-repeat center 100%;
}

/* NAVBAR */
nav{
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

nav #brand {
    color: var(--secondary);
    font-size: 2.8rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: #bbb;
    font-weight: 700;
    font-size: 1.1rem;
}

nav ul li {
    cursor: pointer;
}

/* TEMPLATES */

#templates {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    padding-top: 0;
}

#templates h1{
    color: var(--primary);
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

#templates .details{
    font-size: 1.15rem;
    color: white;
    font-weight: 700;
}

#templates form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
}

#templates form .input label {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary)
}

#templates form .input label::after{
    content: ":";
    margin: 0.5rem;
}

#templates form .input{
    margin: 0.7rem 1rem;
    position: relative;
    cursor: pointer;
}

#templates form .input input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#templates form .input button {
    margin-top: 0;
    border: 3px solid var(--primary);
    color: var(--primary);
    padding: 0.4rem 0rem;
    border-radius: 0.6rem;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.5s;
    cursor: pointer;
}

#templates form .input:hover button{
    background-color: var(--primary);
    color: var(--secondary);
}

#templates form button {
    background: #fff;
    border: 3px solid var(--green);
    border-radius: 0.7rem;
    padding: 0.4rem 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--green);
    width: 10rem;
    /* align-self: center; */
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 900;
}

#templates form button:hover{
    background-color: var(--green);
    color: white;
}