./dbmsback/db.sqlite3
*.pyc
*.pyc
dbmsback/dbmsapp/__pycache__/admin.cpython-38.pyc
dbmsback/dbmsapp/__pycache__/models.cpython-36.pyc
dbmsback/dbmsapp/__pycache__/models.cpython-38.pyc
dbmsback/dbmsapp/__pycache__/serializers.cpython-38.pyc
dbmsback/dbmsapp/__pycache__/urls.cpython-38.pyc
dbmsback/dbmsapp/__pycache__/views.cpython-36.pyc
dbmsback/dbmsapp/__pycache__/views.cpython-38.pyc
dbmsback/dbmsback/__pycache__/settings.cpython-38.pyc
.vscode/settings.json
.vscode/settings.json
dbmsback/dbmsapp/email_pass.py
.vscode/settings.json
.vscode/settings.json
dbmsback/db1.sqlite3
dbmsback/dbmsapp/migrations/0018_auto_20200509_0952.py
dbmsback/dbmsapp/migrations/0019_auto_20200509_1014.py
dbmsback/dbmsapp/migrations/0020_auto_20200509_1709.py
dbmsback/dbmsapp/migrations/0021_auto_20200512_1631.py
.vscode/settings.json
dbmsback/db.sqlite3
