./dbmsback/db.sqlite3
*.pyc
*.pyc
dbmsback/dbmsapp/__pycache__/admin.cpython-38.pyc
dbmsback/dbmsapp/__pycache__/models.cpython-36.pyc
dbmsback/dbmsapp/__pycache__/models.cpython-38.pyc
dbmsback/dbmsapp/__pycache__/serializers.cpython-38.pyc
dbmsback/dbmsapp/__pycache__/urls.cpython-38.pyc
dbmsback/dbmsapp/__pycache__/views.cpython-36.pyc
dbmsback/dbmsapp/__pycache__/views.cpython-38.pyc
dbmsback/dbmsback/__pycache__/settings.cpython-38.pyc
.vscode/settings.json
.vscode/settings.json
dbmsback/dbmsapp/email_pass.py
.vscode/settings.json
.vscode/settings.json
